<div class="o-widget">

  {% if widget_title %}
    <div class="o-widget__title">{{ widget_title }}</div>
  {% endif %}

  <div class="fb-page" data-href="https://www.facebook.com/DesksNearMe" data-tabs="timeline" data-width="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/DesksNearMe" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DesksNearMe">Desks Near Me</a></blockquote></div>

</div>
