<footer class="x-colophon bottom" role="contentinfo">
    <div class="x-container max width">
      <div class="x-social-global">
        <a href="https://www.facebook.com/NearMeCo" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/NearMeCo" class="twitter" title="Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.google.com/+Near-me" class="google-plus" title="Google+" target="_blank"><i class="fa fa-google-plus-square"></i></a>
        <a href="https://www.linkedin.com/company/near-me" class="linkedin" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.youtube.com/channel/UC6VSo3LDi0PPKDLhDFM8hPw" class="youtube" title="YouTube" target="_blank"><i class="fa fa-youtube-square"></i></a>
      </div>

      <ul id="menu-footer-menu" class="x-nav">
        <li id="menu-item-663" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-663"><a href="/">Home</a></li>
        <li id="menu-item-674" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-674"><a href="/blog">Blog</a></li>
        <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="/privacy">Privacy Policy</a></li>
        <li id="menu-item-675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-675"><a href="/customer-terms-of-service">Terms</a></li>
        <li id="menu-item-665" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-665"><a href="http://support.near-me.com/">Support</a></li>
        <li id="menu-item-664" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-664"><a href="tel:+18889983375">1.888.998.3375</a></li>
      </ul>
      <div class="x-colophon-content">
        Copyrights &copy; 2018 All Rights Reserved by Platform OS
      </div>
    </div>
</footer>
