<header class="masthead masthead-inline" role="banner">

    <div class="x-navbar-wrap">
        <div class="x-navbar">
            <div class="x-navbar-inner">
                <div class="x-container max width">

                    <h1 class="visually-hidden">Platform OS</h1>
                    <a href="/" class="x-brand img" title="Power Your Marketplace">
                      <img src="{{ 'images/platformos/platformos-logo.svg' | asset_url }}" alt="Power Your Marketplace" width="110"></a>
                    <div cass="logobar-widget-area"></div>
                    <style>
                        .logobar-widget-area { float: right; }
                    </style>
                    <a href="#" class="x-btn-navbar collapsed" data-toggle="collapse" data-target=".x-nav-wrap.mobile">
                        <i class="x-icon-bars" data-x-icon=""></i>
                        <span class="visually-hidden">Navigation</span>
                    </a>

                    <nav class="x-nav-wrap desktop" role="navigation">
                        <ul id="menu-x-demo-menu" class="x-nav">
                              <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-428"><a href="/#section-specs"><span>Product</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="/#section-specsfeatures"><span>Features</span></a></li>
                                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="/#section-pricing"><span>Pricing</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a href="/blog"><span>Blog</span></a></li>
                            <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-429"><a href="/why-platform-os/brands"><span>Why Platform OS</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="/why-platform-os/brands"><span>Brands</span></a></li>
                                    <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="/why-platform-os/entrepreneurs"><span>Entrepreneurs</span></a></li>
                                </ul>
                            </li>
                            <li id="menu-item-259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-259"><a href="/#section-buy"><span>Talk to Sales</span></a></li>
                            <li id="menu-item-662" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-662"><a href="http://support.near-me.com"><span>Support</span></a></li>
                            <li id="menu-item-264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-264"><a href="tel:+18889983375"><span>1.888.998.3375</span></a></li>
                        </ul>
                    </nav>

                    <div class="x-nav-wrap mobile collapse">
                        <ul id="menu-x-demo-menu-1" class="x-nav">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-428"><a href="/#section-specs"><span>Product</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="/#section-specs"><span>Features</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="/#section-pricing"><span>Pricing</span></a></li>
                                </ul>
                            </li>
                            <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-429"><a href="/why-platform-os/brands"><span>Why Platform OS</span></a>
                              <ul class="sub-menu">
                                  <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="/why-platform-os/brands"><span>Brands</span></a></li>
                                  <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="/why-platform-os/entrepreneurs"><span>Entrepreneurs</span></a></li>
                              </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a href="/blog"><span>Blog</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-259"><a href="/#section-buy"><span>Talk to Sales</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-662"><a href="http://support.near-me.com"><span>Support</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-264"><a href="tel:+18889983375"><span>1.888.998.3375</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
