---
slug: '<%= blog_scope %>/admin/settings'
format: html
layout_name: '<%= layout_name %>'
authorization_policies:
  - <%= blog_type == 'User Blog' ? 'user_blog_settings_edition' : 'instance_blog_edition' %>
---
{%- query_graph 'get_blog_instance', result_name: bi, scope: '<%= blog_scope %>'<%= blog_type == 'User Blog' ? ', current_user_id: @current_user.id' : '' %> -%}
{% assign blog = bi.customizations.results.first %}

<a href="/<%= blog_scope %>/{{ blog.slug }}"> Visit Blog</a>
<a href="/<%= blog_scope %>/admin/posts"> Edit Posts</a>

{% assign object_id = blog.id | default: 'new' %}

{% render_form blog_settings,
  object_class: Customization,
  object_id: @object_id,
  parent_object_class: CustomModelType,
  parent_object_id: blog_instance,
  scope: '<%= blog_scope %>'
%}
