---
slug: '<%= blog_scope %>/admin/settings'
format: html
layout_name: 'admin-<%= layout_name %>'
authorization_policies:
  - <%= blog_type == 'User Blog' ? 'user_blog_settings_edition' : 'instance_blog_edition' %>
---
{%- query_graph 'get_blog_instance', result_name: bi, scope: '<%= blog_scope %>'<%= blog_type == 'User Blog' ? ', current_user_id: @current_user.id' : '' %> -%}
{% assign blog = bi.customizations.results.first %}

{%- include 'blog/admin/navigation' -%}

<section class="o-section">
  <div class="o-container">
    {% assign object_id = blog.id | default: 'new' %}

    {% render_form blog_settings,
      object_class: Customization,
      object_id: @object_id,
      parent_object_class: CustomModelType,
      parent_object_id: blog_instance,
      scope: 'blog'
    %}
  </div>
</section>
