<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layouts/blog/csrf' %}
  {% include 'layouts/blog/meta-tags' %}
  {% include 'layouts/blog/prefetch' %}
  {% include 'layouts/blog/favicon' %}

  {%- include 'layouts/blog/stylesheets' -%}

  {% include 'layouts/blog/preload' %}

  {% include 'layouts/blog/page-title' %}
  {% include 'layouts/blog/page-description' %}

  {% yield 'head_content' %}
</head>

<body class="{% if is_logged_in %}logged-in{% endif %}">
  {% include 'layouts/blog/fb' %}
  {% include 'layouts/blog/icons' %}
  {% include 'layouts/blog/header' %}
  {% include 'layouts/blog/flash_messages' %}

  <main>
    {{ content_for_layout }}
  </main>

  {%- include 'layouts/blog/footer' -%}
  {%- include 'layouts/blog/javascripts' -%}
</body>
</html>
